img{
    width: 100%;
}

.u-section-2 {
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/58029cc358d255cd9e2f1ca3/rrrr.jpg");
    background-position: 50% 50%;
  }
  .u-section-2 .u-sheet-1 {
    min-height: 757px;
  }
  .u-section-2 .u-group-1 {
    width: 506px;
    min-height: 632px;
    background-image: none;
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(167,132,93,0.1);
    margin: 60px auto;
  }
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  .u-section-2 .u-image-1 {
    width: 227px;
    height: 227px;
    margin: 0 auto;
  }
  .u-section-2 .u-text-1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px auto 0;
  }
  .u-section-2 .u-text-3 {
    line-height: 2;
    font-style: italic;
    font-size: 1rem;
    width: 343px;
    font-weight: 400;
    margin: 6px auto 0;
  }
  .u-section-2 .u-btn-1 {
    background-image: none;
    font-style: italic;
    border-style: none none solid;
    padding: 0;
  }
  .u-section-2 .u-btn-2 {
    border-style: solid;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 34px auto 0;
    padding: 13px 47px;
  }
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 624px;
    }
    .u-section-2 .u-group-1 {
      height: auto;
    }
  }
  @media (max-width: 991px) {
     .u-section-2 {
      background-position: 0% 50%;
    }
    .u-section-2 .u-sheet-1 {
      min-height: 478px;
    }
  }
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 742px;
    }
    .u-section-2 .u-group-1 {
      width: 405px;
      margin-top: 55px;
      margin-bottom: 55px;
    }
  }
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 467px;
    }
  }
    .u-section-2 .u-group-1 {
      width: 340px;
    }
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-2 .u-text-3 {
      width: 320px;
    }
    .u-body {
        font-size: 1rem;
        line-height: 1.6;
        font-family: 'Open Sans',sans-serif;
        color: #111111;
        background-color: #ffffff;
    }
    body, aside, .u-sidebar-block, section, header, footer {
        position: relative;
    }
    body {
        height: auto;
        min-height: 100%;
    }
    section.u-image, .u-sheet.u-image, .u-group.u-image, .u-layout-cell.u-image {
        overflow: visible;
    }
    .u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
        color: #111111;
    }
    .u-align-center {
        text-align: center;
    }
    .u-image, .u-background-effect-image, .u-video-poster {
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    
    .u-section-2 .u-sheet-1 {
        min-height: 757px;
    }
    .u-valign-middle {
        justify-content: center;
    }
    .u-valign-middle, .u-valign-top, .u-valign-bottom {
        display: flex;
        flex-direction: column;
    }
    .u-sheet {
        position: relative;
        width: 1140px;
        margin: 0 auto;
    }
    
    .u-section-2 .u-group-1 {
        width: 506px;
        min-height: 632px;
        background-image: none;
        height: auto;
        box-shadow: 5px 5px 20px 0 rgb(167 132 93 / 10%);
        margin: 60px auto;
    }
    .u-tabs:not([class*="u-align-"]), .u-accordion:not([class*="u-align-"]), .u-repeater-item:not([class*="u-align-"]), .u-container-style:not([class*="u-align-"]) {
        text-align: left;
    }
    .u-white, .u-body.u-white, .u-container-style.u-white:before, .u-container-layout.u-white:before, .u-table-alt-white tr:nth-child(even) {
        color: #111111;
        background-color: #ffffff;
    }
    .u-group {
        display: flex;
    }
    .u-valign-middle > *, .u-valign-top > *, .u-valign-bottom > * {
        flex-shrink: 0;
    }

    section.u-image, .u-sheet.u-image, .u-group.u-image, .u-layout-cell.u-image {
        overflow: visible;
    }
    .u-overlap.u-overlap-transparent .u-header, .u-image, .u-gradient {
        color: #111111;
    }
    .u-align-center {
        text-align: center;
    }
    .u-image, .u-background-effect-image, .u-video-poster {
        object-fit: cover;
        display: block;
        vertical-align: middle;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }