img{
    width: 60%;
    justify-content: center;
    align-content: center;
    filter: grayscale(95%);
    border-radius: 10px;
}

.section2 {
    background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/58029cc358d255cd9e2f1ca3/rrrr.jpg");
    background-position: 50% 50%;
  }
 
  @media (max-width: 991px) {
     .section2 {
      background-position: 0% 50%;
    }
    .section2 {
      min-height: 478px;
    }
  }
    .btn{
      background: rgb(75, 99, 64);
      color: #ebe1d2;
      text-align: center;
      padding: 10px 10px 10px 10px;
        width: 30%;
        height: 20px;
        font-family: 'Zen Kaku Gothic Antique', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 10px;
        letter-spacing: 3px;
        text-decoration: none;
        ;
    }
    .about-body {
        font-size: 1rem;
        color: #111111;
        background-color: #ebe1d2;;
    }
  
    body {
      line-height: 1.7;
      height: 100%;
      font-family: 'Zen Kaku Gothic Antique', sans-serif;
      justify-content: center;
      align-items: center;
    }
    .alignCenter {
        text-align: center;
    }
    
    .alignMiddle {
        justify-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .section2 .containerStyle{
        width: 500px;
        min-height: 632px;
        background-image: none;
        height: auto;
        box-shadow: 5px 5px 20px 0 rgb(167 132 93 / 10%);
        margin: 60px auto;
        color: #111111;
        background-color: rgba(240, 240, 240, 0.6);
        padding: 15px;
        padding-top: 30px;
        border-radius: 10px;
        
    }
  p{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }


    h2{
      font-family: 'Zen Kaku Gothic Antique', sans-serif;
      font-size: 25pt;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin: 20px auto 0;
    }
    .alignCenter {
        text-align: center;
    }

    nav > a {
      margin: 1% 1% 1% 1%;
      background: rgb(75, 99, 64);
      color: #fff;
      font-family: 'Zen Kaku Gothic Antique', sans-serif;
      font-size: 13pt;
      text-align: center;
      padding: 6pt;
      letter-spacing: 8px;

      text-decoration: none;
    }
    nav {
      display: flex;
      justify-content: center;
      background-color:rgb(40, 37, 44);
      overflow: hidden;
    }
  
  a:hover {
      background-color: rgb(146, 113, 51);
  }