body {
    background-color: #fff;
    line-height: 1.9;
    position: relative; 
    height: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.container{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-image: url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/58029cc358d255cd9e2f1ca3/rrrr.jpg");
        background-position: 50% 50%;
}
.wrapper {
    width: 500px;
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 10px;
    overflow: hidden;
    padding: 42px 55px 45px 55px;
}
nav > a {
    margin: 1% 1% 1% 1%;
    background: rgb(75, 99, 64);
    color: #fff;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 13pt;
    text-align: center;
    padding: 6pt;
    letter-spacing: 8px;

    text-decoration: none;
  }
  nav {
    display: flex;
    justify-content: center;
    background-color:rgb(40, 37, 44);
    overflow: hidden;
  }

a:hover {
    background-color: rgb(146, 113, 51);
}
